# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Marco\Desktop\Universidad\TEC\VI Semstre\DATOS II\DATOS_II_TAREA_EXTRACLASE_I\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
